.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* css variables */

:root {
  --color-white: hsl(0, 0%, 100%);
  --color-light-gray: hsl(212, 45%, 89%);
  --color-grayish-blue: hsl(220, 15%, 55%);
  --color-dark-blue: hsl(218, 44%, 22%);
}

/* css reset */

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-light-gray);
  font-family: Outfit, sans-serif;
}

/* qr code component */

.container {
  max-width: 375px;
  margin: 0 auto;
  min-height: 100vh;
  padding: 0 1rem;
  display: flex;
  align-items: center;
}

.qr-card {
  background-color: var(--color-white);
  padding: 2rem;
  border-radius: 2rem;
  /* pulled from https://cssgenerator.org/box-shadow-css-generator.html */
  box-shadow: -1px 5px 30px -12px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: -1px 5px 30px -12px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: -1px 5px 30px -12px rgba(0, 0, 0, 0.2);
}

.qr-card__code {
  display: block;
  width: 100%;
  border-radius: 1rem;
}

.qr-card__text {
  padding: 2rem 1rem;
  text-align: center;
}

.qr-card__text h1 {
  font-size: 2.5rem;
  color: var(--color-dark-blue);
}

.qr-card__text p {
  padding: 0 1.5rem;
  margin-top: 1.5rem;
  font-size: 1.5rem;
  line-height: 1.5;
  color: var(--color-grayish-blue);
}
